
body {
  background: gray;
}

body * {
  border: solid 1x;
}

app {
  width: 360px;
  height: 640px;
  box-shadow: 0 0 40px rgba(0, 0, 0, .2);

  top: 50% !important;
  left: 50% !important;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
}