body {
    min-height: var(--min-height);
    min-width: var(--min-width);

    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    font-size: 1rem;
}

* {
    box-sizing: border-box;
    display: block;
}

app {
    font-family: var(--text-global-font);
    color: var(--text-global-color);
    background: white;

}