splash {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(./../../img/splash.png) repeat-x bottom center;
  padding: 0.8rem;
}

splash h1 {
  font-size: 1.7rem;
  font-weight: 100;
  text-transform: uppercase;
}

splash h2 {
  font-size: 0.7rem;
  margin-top: 0.4rem;
  font-weight: 100;
}

splash login-button {
  margin-top: 1.2rem;
}