splash {
  padding: 2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(./../../img/splash.png) repeat-x bottom center;
}

splash h1 {
  font-size: 3.2rem;
  font-weight: 100;
  line-height: 0.85em;
  text-transform: uppercase;
  padding-top: 2rem;
}

splash h2 {
  font-size: 1.3rem;
  font-weight: 100;
  margin-top: 1rem;
}

splash login-button {
  margin-top: 2rem;
}