categories {
  display: flex;
  flex-direction: column;
}

categories group category {
  float: left;
  width: 25%;
  text-align: center;
  padding: 1rem;
}

categories group picture img {
  display: block;
  width: 42px;
  height: 42px;
  background: #ddd;
  border-radius: 50%;
}

categories group  name {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1rem;
}