reports {
  display: flex;
  flex-direction: column;
}

reports report {
  display: flex;
  flex-direction: column;
  pad: 1rem;
}

reports report picture {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #333;
}