reports {
  display: flex;
  flex-direction: column;
}

reports report {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

reports report picture {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #333;
}

reports report name {
  position: absolute;
  top: 1rem;
  left: 70px;
  right: 50px;
  line-height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
}

reports report distance {
  position: absolute;
  top: 1rem;
  line-height: 
}

sub-header views {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

sub-header views view {
  padding: 0.25rem;
  width: 30%;
  text-align: center;
  background: #ddd;
}

sub-header views view[selected] {
  background: green;
  color: #fff;
}