reports {
  display: flex;
  flex-direction: column;
}

reports report {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

reports report picture {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #333;
}

sub-header views {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 1rem;
  background: #aaa;
}

sub-header views view {
  padding: 0.25rem;
  width: 30%;
  text-align: center;
}

sub-header views view:attr('selected') {
  background: green;
}